:root {
    --C1: #0A0D4E;
    --C2: #070939;
    --C3: #3B0C9A;
  }

body{
    background-color: var(--C2);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: left;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.outScrenn{
    margin-left: -40rem;
    margin-right: 40rem;
}

div#loading{
    position: absolute;
    width: 100%;
    height: 2000px;
    background-color: var(--C3);
    z-index: 2;
    transition: all 1s ease;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#loading div.lds-roller{
  position: fixed;
  top: 45%;
  left: 47%;

    
}

header{
    background-color: var(--C1);
    padding: 20px 0;
}

header ul.menu{
    list-style: none;
    margin: 0;
    padding: 0 1rem;
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header ul.menu li.active{
    border-bottom: 2px solid var(--C3);
}

header ul.menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;

}

section.page-section{
    display: flex;
    padding: 5rem 2rem;
}

section.page-section div.left, section.page-section div.right{
    width: 50%;
}

section#wellcome div.right img{
    width: 100%;
}

section#wellcome div.right div#brain{
    position: absolute;
    top: 17vw;
    width: 42%;
    display: flex;
    justify-content: center;
    
}

section#wellcome div#first-text{
    transition: all 0.7s linear;
    padding: 0;
    justify-content: center;
    gap: 1rem;
    padding-top: 2rem;
}

section#wellcome div#first-text h1{
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}   

section#wellcome div#first-text p{
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}


model-viewer{
    width: 20rem;
    height: 20rem;
}

section#pitch div#video{
    width: 50%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--C3);
    padding: 1rem 0;
    border-radius: 2rem;
    margin-right: 2rem;
}

section#pitch div#video iframe{
    width: 90%;
    height: 90%;
}

@media (max-width: 700px) {
    .outScrenn{
        margin-left: 0;
        margin-right: 0;
    }
    section#wellcome{
        flex-direction: column;
        text-align: center;
    }
    section#wellcome div.left, section#wellcome div.right{
        width: 100%;
    }

    section#wellcome div.right div#brain{
        position: relative;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    section#wellcome div.right img{
        display: none;
    }

}

footer div#wave{
    background-image: url(./images/wave.png);
    background-color: #070939;
    background-size: cover;
    width: 100%;
    height: 2.2rem;
}

footer{
    background-color: var(--C3);
    height: 12rem;
    
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #cef;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  