:root {
    --C1: #0A0D4E;
    --C2: #070939;
    --C3: #3B0C9A;
  }

body{
    background-color: var(--C2);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: left;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.outScrenn{
    margin-left: -40rem;
    margin-right: 40rem;
}

.error, #ErroMsg{
    color: red !important;
}


div#loading{
    position: absolute;
    width: 100%;
    height: 2000px;
    background-color: var(--C3);
    z-index: 2;
    transition: all 1s ease;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#loading div.lds-roller{
  position: fixed;
  top: 45%;
  left: 47%;

    
}

header{
    background-color: var(--C1);
    padding: 20px 0;
}

header ul.menu{
    list-style: none;
    margin: 0;
    padding: 0 1rem;
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header ul.menu li.active{
    border-bottom: 2px solid var(--C3);
}

header ul.menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;

}

section.page-section{
    display: flex;
    padding: 5rem 2rem;
}

section.page-section div.left, section.page-section div.right{
    width: 50%;
}

section#wellcome div.right img{
    width: 100%;
}

section#wellcome div.right div#brain{
    position: absolute;
    top: 17vw;
    width: 42%;
    display: flex;
    justify-content: center;
    
}

section#wellcome div#first-text{
    transition: all 0.7s linear;
    padding: 0;
    justify-content: center;
    gap: 1rem;
    padding-top: 2rem;
}

section#wellcome div#first-text h1{
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}   

section#wellcome div#first-text p{
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}


model-viewer{
    width: 20rem;
    height: 20rem;
}

section#pitch div#video{
    width: 50%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--C3);
    padding: 1rem 0;
    border-radius: 2rem;
    margin-right: 2rem;
}

section#pitch div#video iframe{
    width: 90%;
    height: 90%;
}

section#pitch div#second-text h2{
  font-size: 3rem;
  margin: 0;
}

section#pitch div#second-text p{
  font-size: 1.5rem;
}

@media (max-width: 700px) {
    .outScrenn{
        margin-left: 0;
        margin-right: 0;
    }
    section#wellcome{
        flex-direction: column;
        text-align: center;
    }
    section#wellcome div.left, section#wellcome div.right{
        width: 100%;
    }

    section#wellcome div.right div#brain{
        position: relative;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    section#wellcome div.right img{
        display: none;
    }

}

div#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#contact form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    margin: 0 auto;
    background-color: var(--C1);
    padding: 2rem;
    border-radius: 1rem;
}
div#contact form input, div#contact form textarea{
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: var(--C2);

}
div#contact form input[type=button]{
    background-color: var(--C2);
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 80%;
    margin: 0 auto;
}

div#contact form input[type=button]:hover{
  scale: 1.05;
  background-color: var(--C3);
}

section#contactSec div.left h2{
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  text-align: center;
}

section#contactSec div.left p{
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
  padding: 1rem 0;
  line-height: 1.5;
  text-align: center;
}

section#group{
  padding-bottom:4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section#group h2{
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  padding: 2rem 0;
}

section#group table tr td.space{ 
  width: 10rem;
}
section#group table tr td{
  text-align: center;
}
section#group table tr td.imageTd img{
  width: 10rem;
  border-radius: 5rem;
  border: 3px solid var(--C3);
}

section#problemFrst div.left h2{
  font-size: 3rem;
  margin: 1rem 0;

}

section#problemFrst div.left p{
  font-size: 1.5rem;
  margin: 1rem 0;

}

section#problemFrst div.right{
  display: flex;
}

section#problemFrst div.right img{
  width: 80%;
  margin: 0 auto;
}

section#problemScnd div.left{
  display: flex;
}

section#problemScnd div.left img{
  width: 80%;
  margin: 0 auto;

}

section#problemScnd div.right h2{
  font-size: 3rem;
  margin: 1rem 0;
}


section#problemScnd div.right p{
  font-size: 1.5rem;
  margin: 1rem 0;
}

section#problemThrd div.left h2{
  font-size: 3rem;
  margin: 1rem 0;

}

section#problemThrd div.left p{
  font-size: 1.5rem;
  margin: 1rem 0;

}

section#problemThrd div.right{
  display: flex;
}

section#problemThrd div.right img{
  width: 80%;
  margin: 0 auto;
}
section#problemThrd div.left div#buttonProblem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section#problemThrd div.left div#buttonProblem a{
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #fff;
  text-decoration: none;
  background-color: var(--C1);
  padding: 1rem 2rem;
  border-radius: 1rem;
  transition: all 0.3s ease;  
  margin: 0 auto;
}

section#problemThrd div.left div#buttonProblem a:hover{
  scale: 1.05;
  background-color: var(--C3);
}

h2#demoTitle{
  
  font-size: 3rem;
  margin: 1rem 0;
  text-align: center;
}

section#demoFrst div.left h2{
  font-size: 3rem;
  margin: 1rem 0;

}

section#demoFrst div.left p{
  font-size: 1.5rem;
  margin: 1rem 0;

}

section#demoFrst div.right{
  display: flex;
}

section#demoFrst div.right img{
  height: 30rem;
  margin: 0 auto;
}

section#demoScnd div.left{
  display: flex;
}

section#demoScnd div.left img{
  height: 30rem;
  margin: 0 auto;

}

section#demoScnd div.right h2{
  font-size: 3rem;
  margin: 1rem 0;
}


section#demoScnd div.right p{
  font-size: 1.5rem;
  margin: 1rem 0;
}



footer{
    background-color: var(--C3);
    height: 12rem;
    
}

footer div#wave{
  background-image: url(./images/wave.png);
  background-color: #070939;
  background-size: cover;
  width: 100%;
  height: 2.2rem;
}

footer div#footer-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
}
footer div#footer-content div#logos{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}


footer div#footer-content p a{
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
}

footer div#footer-content p a:hover{
  color: var(--C1);
}

footer div#footer-content img{
  width:6rem
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #cef;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  